@import "colors";
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $black;
    color: $light;
}

.primary-button {
    background-color: $blue;
    padding: 0.8rem 2.4rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    display: grid;
    place-items: center;
}

a:-webkit-any-link {
    text-decoration: none;
    color: $light;
}
