.section {
    padding: 6rem 1.6rem 0;
    overflow-y: scroll;
    margin-bottom: 4rem;

    &.small {
        padding-top: 2rem;
    }
}

.page {
    padding-top: 6.6795rem;
    &__title {
        font-size: 4.8rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4rem;
    }

    &__para {
        font-size: 2.4rem;
        text-align: center;
        line-height: 2.8rem;
        margin-bottom: 5rem;
    }

    &__cta-container {
        width: 80%;
        margin: 0 auto;

        & > .primary-button {
            font-size: 2.4rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__subtitle {
        font-size: 3.2rem;
        font-weight: 700;
        text-align: center;
    }

    &__services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__service {
        width: 16rem;
        height: 16rem;
        padding-bottom: 1.5rem;

        &-title {
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            position: relative;
            top: -2.5rem;
            color: $light;
        }

        &:nth-of-type(3) &-title {
            top: 1rem;
        }
    }

    &__svg {
        width: 100%;
        height: 100%;
    }
}
